body{
    background: green;
}

h1{
    text-align: center;
}

.menu{
    border: 1px solid black;
    text-align: center;
    list-style-type: none;
}

.menu li{
    display: inline;
}

img{
    height: 500px;
}

